<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jano </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTable.css' %}">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js">
    </script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">


</head>

<body>
    <div id="app">
        <aside class="aside is-placed-left is-expanded">
            <div class="menu is-menu-main">
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li class="active">
                        <a href="{% url 'index' %}">
                            <span class="icon"> <i class="mdi mdi-home"></i></span>
                            <span class="menu-item-label">Inicio</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-list">
                    <li class="active">
                        <a href="{% url 'eventos' %}">
                            <span class="icon"> <i class="mdi mdi-calendar"></i></span>
                            <span class="menu-item-label">Eventos</span>
                        </a>
                    </li>
                </ul>

            </div>
        </aside>
        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <a href="{% url 'index' %}">
                    <h1 class="title">
                        Jano
                    </h1>
                </a>

            </div>
        </section>
        <center>
            <img src="/static/img/LOGO.png" width = "600px" >
            </center>
        <section class="is-title-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <ul>
                    <li>Jano</li>
                    <li>Eventos</li>
                </ul>
            </div>
        </section>

        <section class="section main-section">
            <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div class="widget-label">
                                <h3>Nº de Eventos Registrados </h3>
                                <h1><a>95</a></h1>
                            </div>
                            <span class="icon"> <i class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <!-- Tarjetas de resultados de la búsqueda generales -->
                {% if nEventos != -1 %}
                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div class="widget-label">
                                <h3>Nº de Eventos Encontrados</h3>
                                <h1><a>{{ nEventos }}</a></h1>
                            </div>
                            <span class="icon"> <i class="mdi mdi-calendar"></i></span>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
            <!--/end Tarjetas resultados generales -->


            <!-- Tarjeta Consultas -->
            <div class="card mb-6">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon"><i class="mdi mdi-database-search"></i></span>
                        Consultas
                    </p>
                </header>
                <div class="card-content">
                    <form method="post">
                        {% csrf_token %}
                        <input name="action" type="hidden" value="1">
                        <!--Nombre del evento-->
                        <div class="field">
                            <label class="label">Nombre del Evento</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control icons-left">
                                        <label>
                                            <input name="nombreEvento" class="input" type="text" required placeholder="Introduzca un Nombre">
                                            </select>
                                        </label>
                                        <span class="icon left"> <i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="field grouped">
                            <div class="control">
                                <button type="submit" class="button green">Buscar Evento</button>
                            </div>
                            <div class="control">
                                <button type="reset" class="button red" id="btnClear">Borrar</button>
                            </div>
                        </div>
                    </form>
                    {% if action and action == 1 %}
                    <br />
                    <label class="label">Resultados</label>
                    <div class="card has-table">
                        <div class="card-content">
                            <table id="nombreCol" class="table">
                                <thead>
                                    <tr class="tr">
                                        <th>Image</th>
                                        <th>Informacion</th>
                                        <th>Url</th>
                                        <th>Tipo Evento</th>
                                        <th>Horario</th>
                                        <th>Gratuito</th>
                                        <th>Audiencia</th>
                                        <th>Dirección</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in colList %}
                                    <tr>
                                        <td data-label="Image" style="text-align:center;">
                                            <img src="{{ item.image }}" alt="img" title="{{ item.name }}"
                                                style="width: 150px;height: 150px" />
                                        </td>
                                        <td data-label="Evento" style="text-align:center;"> <b>{{ item.name }}</b>: <br> {{ item.description }} </td>
                                        <td data-label="Url" style="text-align:center;"> <a href="{{item.evento}}">{{item.eventoMini}}</a> <br><br> <a href="{{item.url}}">Enlace</a>
                                        </td>
                                        <td data-label="Tipo Evento" style="text-align:center;"> {{item.tipoEvento}}</td>
                                        <td data-label="Horario" style="text-align:center;"> De {{item.startDate}} <br> Hasta {{item.endDate}}</td>
                                        <td data-label="Gratuito" style="text-align:center;"> {{item.isAccesibleForFree}} </td>
                                        <td data-label="Audiencia" style="text-align:center;"> {{item.audience}}</td>
                                        <td data-label="Dirección" style="text-align:center;">{{item.nombre}} <br> <br> {{item.streetAddress}}, {{item.postalCode}},
                                            {{item.addressLocality}}, {{item.addressRegion}} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <script>
                                $(document).ready(function () {
                                    var table = $('#nombreCol').DataTable({
                                        orderCellsTop: true,
                                        fixedHeader: true,
                                        paging: false,
                                        lengthChange: false,
                                        ordering: false,
                                        info: false,
                                        autoWidth: false,
                                        responsive: true,

                                    });

                                    //Creamos una fila en el head de la tabla y lo clonamos para cada columna
                                    $('#nombreCol thead tr').clone(true).appendTo('#nombreCol thead');

                                    $('#nombreCol thead tr:eq(1) th').each(function (i) {
                                        var title = $(this).text(); //es el nombre de la columna
                                        $(this).html('<input type="text" placeholder="               Buscar" />');

                                        $('input', this).on('keyup change', function () {
                                            if (table.column(i).search() !== this.value) {
                                                table
                                                    .column(i)
                                                    .search(this.value)
                                                    .draw();
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>

                    {% endif %}
                </div>
                <hr>
                <hr>


                </form>

            </div>
    </div>
    <!-- /end Tarjeta Consultas -->

    </section>

    <!-- Main Footer -->
    <footer class="text-center footer-style"
        style="position:fixed; bottom: 0px;width: 100%;border-top: 1px solid #bfbbbb4f;z-index: 1;">
        <div class="container">
            <p>Jano</p>
        </div>
    </footer>
    </div>
</body>

</html>